@import 'variables';

*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 640px){
    html { font-size: 112%; }

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
        display: inline-block;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

@media (min-width: 1024px){
    html {font-size: 120%; }
}

.container{
    margin: 0 auto;
    max-width: 64rem;
}

.container.narrow{
    max-width: 56rem;
}

html{
    height: 100%;
    font-size:100%;
}

body{
    font-family: 'Open Sans';
    color: $color2;
    background-color: $color3;
    min-height: 90vh;
}

.hero{
  background-image: url("../assets/images/christian-joudrey-65080.jpg");
  background-position: 100%;
  background-size: cover;
  position: relative;
  padding: 0.5rem;
  border-bottom: $accent-color;
  height: 50vh;
  line-height: 33vh;
}


.hero-title{
  @include headings;
  font-size: 4rem;
  display: inline-block;
  padding: 2px;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 4rem;
}

.navbar .links-container{
    display: table;
    padding: 20px;
    float: left;
    color: white;
    text-decoration: none;
}



.links-container .navbar-link{
    display: table-cell;
    position: relative;
    color: $color2;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px ;
    margin: 10px;
    display: block;
}

.links-container .navbar-link:hover {
    color: $accent-color;
}


.links-container .navbar-link:active {
    background-color:white;
    border-radius: 5%;
    color: $accent-color;
}

video{
  width: 80%;
  height: auto;
}

p{
  text-align: justify;
}
.clearfix::before,
.clearfix::after{
    content: " ";
    display: table;
}

.clearfix::after{
    clear: both;
}
