@import 'variables';

*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 640px){
    html { font-size: 112%; }

    .column {
        float: left;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .column.full { width: 100%; }
    .column.two-thirds { width: 66.7%; }
    .column.half { width: 50%; }
    .column.third { width: 33.3%; }
    .column.fourth { width: 25%; }
    .column.flow-opposite { float: right; }
}

@media (min-width: 1024px){
    html {font-size: 120%; }
}

.container{
    margin: 0 auto;
    max-width: 64rem;
}

.container.narrow{
    max-width: 56rem;
}

html{
    height: 100%;
    font-size:100%;
}

body{
    font-family: 'Open Sans';
    color: $color3;
    background-color: $color2;
    min-height: 90vh;
}

.navbar{
    background-image: url("../assets/gray-triangles.jpg");
    background-size: cover;
    position: relative;
    padding: 0.5rem;
    z-index: 1;
    border-bottom: $accent-color;
}

.navbar .links-container{
    display: table;
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    color: white;
    text-decoration: none;
}

h1{
  @include headings;
  font-size: 4rem;
}

.links-container .navbar-link{
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    vertical-align: middle;
    color: $color2;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    font-weight: 750;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.links-container .navbar-link:hover {
    color: $accent-color;
}


.links-container .navbar-link:active {
    background-color:white;
    color: $accent-color;
}


.clearfix::before,
.clearfix::after{
    content: " ";
    display: table;
}

.clearfix::after{
    clear: both;
}
