@import "variables";

.video-tiles{
  position:relative;
}

.video-view{
  width:100%;
  height:100%;
  left:0;
  display: block;
}

.wrapper{
  padding: 10px;
  background-color: $base-color;
  border: solid $accent-color 1px;
}

.wrapper p{
  text-align: center;
  width: 100%;
}